/*
Author: Amandine ARIAS;
Project: Kasa;
Type: React app;
Description: Plateforme de location de logements entre particulier;
First version: 17/09/2021;
Tags: app, rental accommodation;
*/

/************ GENERAL ************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/************ BODY ************/
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;
}

body a,
body a:visited {
  text-decoration: none;
  text-align: center;
}

body li {
  list-style: none;
  display: inline-block;
}

body li a,
body li a:visited {
  text-decoration: none;
  text-align: center;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 500;
}

/************ CONTENT ************/

/* nav, */
main {
  width: 90%;
  margin: auto;
  height: 100vh;
}

/************ NAVBAR ************/
/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.nav-link {
  margin: 0 15px;
  color: #ff6060;
}

.logo {
  width: 100px;
} */

/* NE FONCTIONNE PAS */
/* .banner {
  background-image: url(.//Images/headerBanner.jpg);
  position: relative;
  width: 100%;
  height: 125px;
  border-radius: 0.5em;
} */

/************ BANNER ************/

/* .banner {
  position: relative;
}

.banner-title {
  display: flex;
  width: 100%;
  height: 125px;
  z-index: 1;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: xx-large;
  color: white;
}

.banner-background {
  width: 100%;
  height: 125px;
  border-radius: 0.5em;
  object-fit: cover;
  filter: brightness(75%);
  object-position: 0 43%;
} */

/************ LANDING ************/
/* .landing {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em auto;
  padding: 1em;
  border-radius: 0.5em;
  background: lightgrey;
  background: #F6F6F6;
} */

/* FOOTER */
/* .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100px;
  background-color: black;
}

.footer-logo {
  width: 75px;
  padding: 1.5em 0 0.5em;
}

.footer-content {
  width: 100%;
  color: white;
  font-size: xx-small;
  text-align: center;
  padding-bottom: 0.5em;
} */

/************ A PROPOS ************/
/* .accordion {
  margin: 1em 0;
}
.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 35px;
  margin: 0 auto;
  padding: 0 10px;
  border: none;
  border-radius: 0.5em;
  background: #ff6060;
  font-family: 'MONTSERRAT';
  font-size: medium;
  color: white;
}

.accordion-content {
  position: relative;
  z-index: -1;
  width: 80%;
  margin: -1em auto 1em;
  padding: 2em 0.5em 0.5em;
  display: flex;
  border-radius: 0 0 0.5em 0.5em;
  background: #f7f7f7;
  color: #ff6060;
  font-size: medium;
} */

/************ ERREUR ************/
/* .error {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 85vh;
  color: #ff6060;
  text-align: center;
}

.error-content {
  width: 100%;
}

.error-number {
  font-size: 10em;
  font-weight: 800;
}

.error-message {
  font-size: x-large;
}

.error-back {
  width: 100%;
  font-size: x-small;
} */
