/*
Author: Amandine ARIAS;
Project: Kasa;
Type: React app;
Description: Plateforme de location de logements entre particulier;
First version: 17/09/2021;
Tags: app, rental accommodation;
*/

/************ GENERAL ************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/************ BODY ************/
body {
  box-sizing: border-box;
  width: 90%;
  max-width: 1000px;
  margin: 25px auto;
}

body a,
body a:visited {
  text-decoration: none;
  text-align: center;
}

body li {
  list-style: none;
  display: inline-block;
}

body li a,
body li a:visited {
  text-decoration: none;
  text-align: center;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 500;
}

/************ HEADER ************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

.nav-link {
  margin: 0 15px;
  color: #ff6060;
}

.logo {
  width: 100px;
}

/* NE FONCTIONNE PAS */
/* .banner {
  background-image: url(.//Images/headerBanner.jpg);
  position: relative;
  width: 100%;
  height: 125px;
  border-radius: 0.5em;
} */

.banner {
  position: relative;
}

.banner-title {
  display: flex;
  width: 100%;
  height: 125px;
  z-index: 1;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: xx-large;
  color: white;
}

.banner-background {
    width: 100%;
    height: 125px;
    border-radius: 0.5em;
    object-fit: cover;
    filter: brightness(75%);
    object-position: 0 43%;}

/************ LANDING ************/
.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em auto;
  padding: 1em;
  border-radius: 0.5em;
  background: lightgrey;
  /* background: #F6F6F6; */
}

/* FOOTER */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100px;
  background-color: black;
}

.footer-logo {
  width: 75px;
  padding: 1.5em 0 0.5em;
}

.footer-content {
  width: 100%;
  color: white;
  font-size: xx-small;
  text-align: center;
  padding-bottom: 0.5em;
}

/************ ERROR ************/
.error {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 85vh;
  color: #FF6060;
  text-align: center;
}

.error-content {
  width: 100%;
}

.error-number {
  font-size: 10em;
  font-weight:800;
}

.error-message {
  font-size: x-large;
}

.error-back {
  width: 100%;
  font-size: x-small;
}