/*
Author: Amandine ARIAS;
Project: Kasa;
Type: React app;
Description: Plateforme de location de logements entre particulier;
First version: 17/09/2021;
Tags: app, rental accommodation;
*/

/************ GENERAL ************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#root {
  flex-grow: 1;
  /* margin-bottom: 10em; */
}

/************ BODY ************/
body {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body a,
body a:visited {
  text-decoration: none;
  text-align: center;
}

body li {
  list-style: none;
  display: inline-block;
}

body li a,
body li a:visited {
  text-decoration: none;
  text-align: center;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 500;
}

/************ CONTENT ************/
main {
  width: 90%;
  margin: auto;
  margin-bottom: 8em;
}
