.landing {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;
    padding: 1em;
    border-radius: 0.5em;
    /* background: #F6F6F6; */
    background: #E6E6E6;
  }
